@page "/fetchdata"

<PageTitle>code evaluation</PageTitle>

@using BlazorApp.Data
@inject BenchmarkService BenchmarkService

<h1>code evaluation</h1>
<p>enter code and let it be evaluated</p>

<EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="name" @bind-Value="exampleModel.Code" placeholder="System.Threading.Thread.Sleep(1000);"/>
    <button type="submit">Submit</button>
</EditForm>

<p>execution took @result?.TimeTaken</p>

@code {
    private BenchmarkResult? result;
    private ExampleModel exampleModel = new();

    private void HandleValidSubmit()
    {
        result =  BenchmarkService.Run(exampleModel.Code).Result;
       
    }
    
    protected override async Task OnInitializedAsync()
    {
        
    }
}
